
    
    .contact-title{
        margin-top: 15px;
        color:  #6c8cbb;
      
    }
    
    .contact-title h1 {
       line-height: 10px;
    }
    
    form {
        margin-top: 5px;
        margin-bottom: 150px;
    
    }

  
    form .form-control {
        display: flex;
        flex-wrap: wrap;
        margin-left: 43%;
        padding: 4px;
        width: 15%;
        background: #6c8cbb;
        outline: whitesmoke;
        border: none;
        border-radius: 2px;
        border-top: #6c8cbb;
        border-bottom: 4px solid #6c8cbb;
        opacity: 0.5;
        color: whitesmoke;
        font-size: 12px;
        margin-top: 1px;
        
    }

    form .form-control:hover {
        opacity: 1;
    }

    ::placeholder {
        color: whitesmoke;
        opacity: 0.5;
    }

    input {
        height: 20px;
        color: whitesmoke;
    }
    
    
     form button  {
        background: #6c8cbb;
        color: whitesmoke;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        height: 25px;
        width: 80px;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 17px;
        border: none;
        border-radius: 2px;
        opacity: 0.5;
    }
    
     form button:hover {
        cursor: pointer;
        opacity: 1;
      
    }

  