html {
    position: relative;
    min-height: 100%;
}
body {
background: whitesmoke;
transition: background-color 2s ease;
color:  #6c8cbb;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 150px;
  

}

.dark-mode {
    background-color: #2b2b2b;
    color: whitesmoke;
   }



#home{
    background-color: #6c8cbb;
    color: whitesmoke;
   margin-left: -1cm;
   margin-right: -1cm;
   margin-top: -2cm;
   padding-top: 2.1cm;
   padding-bottom: 2cm;
   height: 5mm;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 50px;
}






#hr2 {
    height: 15px;
    background-color: #6c8cbb;
    border: 2px solid rgba(106, 17, 207, 0.644);
    border-radius: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#hr2:hover {
    height: 18px;
    background-color: #6c8cbb52;
    border: 2px solid rgba(114, 28, 226, 0.575);
    width: 50%;
    transition: width 0.7s ease;
}


.topmenu{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: whitesmoke;
background: #6c8cbb;
margin: 10px;
padding-top: 14px;
padding-bottom: 6px;
padding-left: 4px;
padding-right: 4px;
border-radius: 8px;
font-size: 20px;
text-decoration: none;
}

.topmenu:hover {
    
    color: aliceblue;
    background: #20096d;
    transition: background-color 2s ease; 
    font-weight: bolder;
    text-decoration: wavy;
}

.topdiv { 
    color: whitesmoke;
float: right;
padding-right: 80px;
margin-top: 50px;

}

.container {
    background-color: #6c8cbb;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 5px;
}

.button {
    background-color: #d2d2d2;
    color: whitesmoke;
    width: 60px;
    height: 30px;
    border-radius: 200px;
    border: solid 2px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.button::before{
    position: absolute;
    content: '';
    background-color: whitesmoke;
width: 25px;
height: 25px;
border-radius: 200px;
margin:2px;
transition: 0.3s;

    }


input:checked + .button {
    background-color: #20096d;

}

input:checked + .button::before{
    transform: translateX(-29px);
}

input {
    display: none;
}


.profile_name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    float: left;
    padding-left: 2cm;
    padding-top: 45px;
   
}




 .contact_info {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    margin-right: 1px;
    margin-left: 0px;
    padding-right: 5px;
margin-bottom: 90px;

}




  .icon {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8px;
    margin-right: 90px;
 
 }
 #touch {
margin-top: auto;
margin-bottom: auto;
 }

 #git, #linkedin, #mail {
    margin-left: 10px;
 }




 small {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
 margin-top: 0px;
 }





#totop {
position: fixed;
bottom: 12px;
left: 50px;
padding-left: 20px;
border-radius: 100%;
border: solid 2px #f5f5f5 ;
padding: 4px 5px 4px 5px;
}

#icon:hover, #totop:hover, #git:hover, #linkedin:hover {
    opacity: 0.5;

}




.image-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    
}

.image {
    transition: transform 0.3s;
    border-radius: 10px;
    border: solid 2px  #6c8cbb;
    padding: 3px 3px 3px 3px;
    margin: 10px 5px 5px 5px;
    height: 80px;
    width: 80px;

}

.image-container {
    margin-left:35%;
    display: flex;
    margin-bottom: 5px;
 
}



.dialogue-box {
    transform: translate(5%, -5%);
   max-width: 350px;
   max-height: 150px;
padding: 20px; 
display: flex;
flex-wrap: wrap;
    background-color: #6c8cbb96;
    color: whitesmoke;
    border-radius: 10px;
    border: solid 3px rgba(0, 0, 0, 0.123);
    opacity: 0;
    transition: opacity 0.3s;
}

.image-wrapper:hover .image {
    transform: scale(1.1);
    box-shadow: 5px 1px 10px 2px #6c8cbb;
    transition: ease 1s;
}

.image-wrapper:hover .dialogue-box {
    opacity: 1;
    transition: ease-in 1s;

}
.image-wrappersk {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  
}

.image-wrappersk:hover .image {
    transform: scale(1.1);
    box-shadow: 5px 1px 10px 2px #6c8cbb;
    transition: ease 1s;
}


.image-wrappersk:hover .dialogue-box-skill {
    opacity: 1;
    transition: ease-in 1s;

}

.dialogue-box-skill {
    transform: translate(5%, 5%);
max-width: 350px;
    display: flex;
flex-wrap: wrap;
   padding: 25px;
  background-color: #6c8cbb96;
        color: whitesmoke;
        border-radius: 10px;
        border: solid 3px rgba(0, 0, 0, 0.123);
        opacity: 0;
        transition: opacity 0.3s;
}

hr {
    width: 70%;
}

.footer {
  position: fixed;
    left: 0;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: #6c8cbb;
    color: whitesmoke;
}













    
