/* ThemeNav */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: whitesmoke;
    --blue: #6c8cbb;
    --gray: rgba(114, 28, 226, 0.349);
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
    color: #6c8cbb;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--blue);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
    text-decoration: wavy;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--blue);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 50%;
    
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;

}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:10px;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:10px;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
     background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}

/* Sub nav */
.subnav-content {
    background-color:  var(--white);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
  }
.subnav-content a {
    color: var(--black);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
}
.subnav:hover .subnav-content {
    display: block;
}


/* Night/Day Mode*/
.dark-mode {
    background-color: #2b2b2b;
    color: whitesmoke;
   }

    #container {
        background-color: whitesmoke;
        opacity: 0.4;
        display: flex;
        position: fixed;
        margin-left: 5px;
        margin-top: 100px;
        flex-wrap: nowrap;
        border: solid 2px;
        border-radius: 20px;
    }



.button {
    background-color: #d2d2d2;
    color: whitesmoke;
    width: 60px;
    height: 30px;
    border-radius: 200px;
    border: solid 2px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.button::before{
    position: absolute;
    content: '';
    background-color: whitesmoke;
width: 23px;
height: 23px;
border-radius: 200px;
margin:1px;
transition: 0.6s;

    }


input:checked + .button {
    background-color: #20096d;

}

input:checked + .button::before{
    transform: translateX(30px);
}

input {
    display: none;
}







h1, h2, h3, p {
    text-align: center;
}

h1 {
    margin-top: 5%;

}


.hr2 {
    height: 15px;
    background-color: #6c8cbb;
    border: 2px solid rgba(106, 17, 207, 0.644);
    border-radius: 10px;
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.hr2:hover {
    height: 18px;
    background-color: #6c8cbb52;
    border: 2px solid rgba(114, 28, 226, 0.575);
    width: 50%;
    transition: width 0.7s ease;
}

#title {
    margin-top: 120px;
}


.profile_name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
   float: left;
   
}




 .contact_info {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    margin-right: 200px;
    margin-left: 0px;
    padding-right: 20px;
margin-bottom: 90px;

}




  .icon, small {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 50px;
    margin-top: 0.7%;

 
 }
 #touch {
margin-top: auto;
margin-bottom: auto;
 }

 #git, #linkedin, #mail {
    margin-left: 15px;
 }










#icon:hover, #totop:hover, #git:hover, #linkedin:hover {
    opacity: 0.5;

}




.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.image {
    transition: transform 0.3s;
    border-radius: 10px;
    border: solid 2px  #6c8cbb;
    padding: 3px 3px 3px 3px;
    margin: 10px 5px 5px 5px;
    height: 80px;
    width: 80px;

}

.image-container {
    margin-left:35%;
    display: flex;
  flex-wrap: wrap;
    margin-bottom: 1%;
 
}


.dialogue-box {
    transform: translate(5%, -5%);
    max-width: 200px;
    min-width: 5%;
    max-height: 100px;
padding: 20px; 
display: flex;
overflow: auto;
flex-wrap: wrap;

    background-color: #6c8cbb96;
    color: whitesmoke;
    border-radius: 10px;
    border: solid 3px rgba(0, 0, 0, 0.123);
    opacity: 0;
    transition: opacity 0.3s;
}

.image-wrapper:hover .image {
    transform: scale(1.1);
    box-shadow: 5px 1px 10px 2px #6c8cbb;
    transition: ease 1s;
}

.image-wrapper:hover .dialogue-box {
    opacity: 1;
    transition: ease-in 1s;
    margin-top: 20px;
    margin-right: 100px;


}
.image-wrappersk {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4%;
  
}

.image-wrappersk:hover .image {
    transform: scale(1.1);
    box-shadow: 5px 1px 10px 2px #6c8cbb;
    transition: ease 1s;
    display: flex;
}


.image-wrappersk:hover .dialogue-box-skill {
    opacity: 1;
    transition: ease-in 1s;
    margin-right: 100px;
  
    

}

.dialogue-box-skill {
    transform: translate(5%, 5%);
max-width: 200px;
min-width: 5%;
max-height: 100px;
    display: inline-flex;
    overflow: auto;
flex-wrap: wrap;
justify-content: flex-start;
   padding: 25px;
  background-color: #6c8cbb96;
        color: whitesmoke;
        border-radius: 10px;
        border: solid 3px rgba(0, 0, 0, 0.123);
        opacity: 0;
        transition: opacity 0.3s;
}



.footer {
  position: fixed;
    left: 0;
    bottom: 0px;
    height: 80px;
    width: 100%;
    background-color: #6c8cbb;
    color: whitesmoke;
}

.hr1 {
    width: 100%;
 

}