/* ThemeNav */

:root{
    --white: white;
    --blue: #6c8cbb;
    --gray: rgba(189, 189, 189, 0.808);
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    color: #6c8cbb;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: ease-out 1s;
    position: relative;
    min-height: 100%;
    min-height: 100vh;

}


a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--blue);
    box-shadow: 1px 1px 5px 0px var(--blue);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 20px;
    text-decoration: wavy;
}

.logo:hover {
    color: var(--gray);
    text-shadow: var(--gray) 1px 0 10px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--blue);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
}
.menu a:hover{
    background-color: var(--white);
    color: var(--blue);
    
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
    
} /* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
    opacity: 1;   

    
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  


}


.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:10px;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:10px;
}

.side-menu {
    display: none;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
     background-color: transparent;
    
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);
        text-decoration: overline;
        text-shadow: var(--gray) 1px 0 10px;
    }



    .hamb{
        display: none;
    }

/* Sub nav */
.subnav-content {
    background-color:  var(--white);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;

  }
.subnav-content a {
    color: var(--blue);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
   
}
.subnav:hover .subnav-content {
    display: block;
    
}
}






/* Header/text alignment*/



/*Title*/

.title  {
    display: flex;
 justify-content: flex-start;
 flex-direction: column;
text-align: left;
 margin-top: 20px;
 margin-left: 50px;
flex-wrap: wrap;
 gap: 20px;
 flex-wrap:wrap ;
}


#box {
    display: flex;
    justify-content: center;
    position: relative;
    align-content: center;
    top: 150px;
    margin-left: 40%;
    border: solid 2px #6c8cbb;
    background: rgb(125,10,203);
    background: radial-gradient(circle, rgba(125,10,203,1) 0%, rgba(26,34,228,1) 50%, rgba(108,140,187,1) 100%);
    border-radius: 200px;
    width: 300px;
    height: 300px;

}

#box:hover {
    cursor: pointer;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

@-webkit-keyframes mover {
    0% { -webkit-transform: translateX(0); }
    100% { -webkit-transform: translateX(24px); }
} 
@-moz-keyframes mover {
    0% { -moz-transform: translateX(0); }
    100% { -moz-transform: translateX(250px); }
} 
@-o-keyframes mover {
    0% { -o-transform: translateX(0); }
    100% { -o-transform: translateX(250px); }
} 
@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(250px); }
}

.box-mover{
    -webkit-animation: mover 2s ease-in-out forwards;
    -moz-animation: mover 2s ease-in-out forwards;
    -o-animation: mover 2s ease-in-out forwards;
    animation: mover 2s ease-in-out forwards;
}








/* Footer Icons and Copyright*/



.contacticon, #touch {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

small {
    display: block;
    margin-left: 4%;
}





    


#icon:hover, #totop:hover, #git:hover, #linkedin:hover {
    opacity: 0.5;

}

footer {
    position: absolute;
    display: block;
    padding-top: 65px;
      left: 0;
      right: 0;
      height: 130px;
    bottom: 0;
      width: 100%;
      background-color: #6c8cbbfb;
      color: whitesmoke;
      z-index: 1;
 
  }
  



/*Main page images Projects/Skills - IMAGE GALLERY STYLE RULES */

.image-container {
    padding: 30px 5% 50px;

    
}

.heading-text {
    margin-bottom: 10px;
    text-align: center;
}

.heading-text span {
    font-weight: 100;
    font-weight:bolder;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}



ul {
    list-style: none;
}

/* Responsive gallery rules begin */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
  
}

.image-gallery > li {
    flex-basis: 350px; /*width: 350px;*/
    position: relative;
    cursor: pointer;
}

.image-gallery::after {
    content:"";
    flex-basis: 350px;
}

.image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;

}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(28, 31, 226, 0.24);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: whitesmoke;
    border-radius: 5px;
    box-shadow: -3px 6px 15px 7px rgba(6, 10, 218, 0.315);
    /*center overlay text*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    backdrop-filter: blur(6px);
}

/* hover */

.image-gallery li:hover .overlay {
    transform: scale(1);
}

/*About me/title*/
#about {
margin: 60px 10% 10px 15%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;


}

#aboutp {
    margin: 15px 20% 200px 20%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    padding: 15px;
    border: solid 1px #6c8cbb;
    border-radius: 5px;
    box-shadow: -3px 5px 20px 1px #6c8cbb



}






/*Transition for Pages*/
.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
    
}

html.is-animating .transition-fade {
opacity: 1;
transform:translateX(100%);
}

html.is-leaving .transition-fade {
opacity: 0;
transform: translateX(0);

}





/* Contact Page */
.contact-title{
    margin-top: 30px;
    text-align: center;
  
}

#contact-title h1 {
   line-height: 10px;
}

form {
    margin-top: 20px;
  

}


form .form-control {
    display: flex;
    flex-wrap: wrap;
    margin-left: 26%;
    padding: 4px;
    width: 50%;
    background: #6c8cbb;
    outline: whitesmoke;
    border: none;
    border-radius: 2px;
    border-top: #6c8cbb;
    border-bottom: 4px solid #6c8cbb;
    opacity: 1;
    color: whitesmoke;
    font-size: 12px;
    margin-top: 1px;
    
}

form .form-control:hover {
    opacity: 0.5;
    box-shadow: 2px 10px 20px 2px rgba(6, 10, 218, 0.719);
}

::placeholder {
    color: whitesmoke;
    opacity: 0.5;
}

input {
    height: 20px;
    color: whitesmoke;
}


 form button  {
    background: #6c8cbb;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    height: 25px;
    width: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40%;
    padding: 4px;
    width: 20%;
    margin-top: 1px;
    margin-bottom: 20px;
    border: none;
    border-radius: 2px;
    opacity: 1;
}

 form button:hover {
    cursor: pointer;
    opacity: 0.5;
    box-shadow: 2px 10px 20px 2px rgba(6, 10, 218, 0.719);
  
}


/*Home-Nav/Menu*/

.home-nav  a {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #6c8cbb;
    
}

.home-menu a:hover  {
  color: var(--gray);
    text-shadow: #6c8cbb 1px 0 10px;
}

.home-menu {
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
